*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    background: #16263f;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hero{

}
.footer{

}
.content{

}
.nav{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin: 10px 15px;
    display: block;
    text-transform: uppercase;
}